@charset "utf-8";
*{
    -webkit-tap-highlight-color: transparent;
}
input[type=button], input[type=submit], input[type=file], button
{
    cursor: pointer; -webkit-appearance: none;
}
body,ul,ol,li,p,h1,h2,h3,h4,h5,h6,form,fieldset,table,td,img,div{
    margin:0;
    padding:0;
    border:0;
}

body{
    color:#333;
    font-size:14px;
    font-family:"Microsoft YaHei";
    background: #FF7E50;
}
ul,ol{
    list-style-type:none;
}
select,input,img,select{
    vertical-align:middle;
}
input{
    font-size:12px;
}
a{
    text-decoration:none;
    color:#000;
}
a:hover{
    color:#c00;
    text-decoration:none;
}
.clear{
    clear:both;
}


/* 大转盘样式 */
.drawContent{
    padding-bottom:30px;
}
.drawTopBg{
    position: absolute;
    z-index: 1;
    width:100%;
    height:36.4%;
    background: url(../img/choujiangbg1.png) no-repeat 100% 100%;
    background-size: cover;
}
.mainContent{
    position: relative;
    z-index: 50;
    display: none;
}

.titleTxt{
    width: 100%;
    display: block;
    position: absolute;
    left:0;
    top:0;
    background: url('https://metadata.zhutech.net/o_1bua3u25110o1e341teg1rh816o710.png') no-repeat center center;
    -webkit-background-size:cover;
    background-size:cover;
    text-align: center;
    font-size: 24px;
    color: #534EF0;
    font-weight: 600;
}
.titleTxt span{
    display: inline-block;
    width:60%;
    overflow: hidden;
    text-overflow:ellipsis;
    white-space: nowrap;
}
.nowIntegral{
    width:60%;
    position: absolute;
    font-size: 16px;
    color: #FFFFFF;
    left:20%;
    text-align: center;
}
.nowIntegral span{
    display: inline-block;
    width:17%;
    background: #FFFFFF;
    border-radius: 2px;
    font-size: 16px;
    color: #FF7E50;
    text-align: center;

}
.everyIntegral{
    position: absolute;
    font-size: 12px;
    color: #EC521E;
}
.banner{
    display:block;
    width:89.6%;
    margin-left:auto;
    margin-right:auto;
    position: relative;
    z-index: 40;
}
.banner .turnplate{
    display:block;
    width:100%;
    position:absolute;
    top:164px;
}
.banner .turnplate canvas.item{
    width:100%;
}
.banner .turnplate img.pointer{
    position:absolute;
    width:31.5%;
    height:38.5%;
    left:34.6%;
    top:27%;
}
.pedestal{
    width:100%;
    position: absolute;
    z-index: 20;
    left:0;
}
.myPrize{
    width:46%;
    left:27%;
    position: absolute;
}
.rechargeWarn{
    font-size: 14px;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    width:100%;
    text-align: center;
    left:0;
}
.rechargeWarn span{
    font-size:18px;
    font-weight: 600;
}
.txt{
    position: absolute;
}
.slider{
    box-sizing: border-box;
    width:92%;
    margin: 0 auto;
    padding:28px 20px;
    background: #534EF0;
    border-radius: 4px;
}
.slide-title{
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFBA00;
    text-align: center;
}
.slide-title span{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #FF7E50;
}
.slide-title span.border{

    width:18.4%;
    height:1px;
    border-top: 1px solid #FF7E50;
}
.slide-title span.title{
    margin:0 2%;
    font-weight: 600;
}
.slide-title span.vertical{
    width:2px;
    height:12px;
    background: #FF7E50;
}
.slide-container{
    position: relative;
    overflow: hidden;
    height: 300px;
    margin-top:9px;
}
.smokePrize{
    font-size: 16px;
    color: #FF7E50;
    text-align: center;
}
.slide-list{
    position:absolute;
    width:100%;
    left:0;
    top:0;
    color:#000;
    margin:0;
    padding:0;
}
.slide-list li {
    height:60px;
    line-height:30px;
    list-style:none;
    margin:0;
    padding:0 10px;
    font-size: 12px;
    color: #FFFFFF;
    border-bottom: 1px solid rgba(255,255,255,0.10);
    text-align: center;
}

.exchange{
    width:92%;
    margin: 50px auto 0;
    padding:20px;
    background: #522C75;
    border-radius: 4px;
    box-sizing: border-box;
}
.exchange p {
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFBA00;
    box-shadow: 0 1px 0 0 #58327A;
    border-bottom: 1px solid #492867;
}
.exchangeList{
    height:150px;
    overflow-x: hidden;
    overflow-y: auto;
}
.exchangeList ul li{
    text-align: justify;
    line-height: 30px;
    font-size: 12px;
    color: #9673C5;
}

.rule{
    width:92%;
    margin: 15px auto 30px;
    text-align: justify;
    padding:28px 40px;
    background: #534EF0;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    color: #FFFFFF;
    letter-spacing: 2px;
}
.ruleTitle{
    height: 34px;
    line-height: 34px;
    padding: 0 10px;
    font-size: 14px;
    color: #FFBA00;
    text-align: center;
}
.ruleTitle span{
    display: inline-block;
    vertical-align: middle;
    font-size: 22px;
    color: #FF7E50;
}
.ruleTitle span.border{

    width:18.4%;
    height:1px;
    border-top: 1px solid #FF7E50;
}
.ruleTitle span.title{
    margin:0 2%;
    font-weight: 600;
}
.ruleTitle span.vertical{
    width:2px;
    height:12px;
    background: #FF7E50;
}
.rule li{
    text-align: justify;
    line-height: 20px;
    margin-bottom:20px;
}
.rule ul{
    margin-top:20px;
}
.rule li:last-child{
    margin-bottom:0;
}
@media screen and (min-width:750px){
        body{
            border-left: 1px solid #ccc;
            border-right: 1px solid #ccc;
            width:375px;
            margin:0 auto;
            background: #ccc;
        }
}
@media screen and (max-width:320px){
    .slide-list li{
        padding:0;
    }

}

/**********背景小物品*********/
.item-img{
    position: absolute;
}
.item-2{
    width:17%;
}
.item-1{
    width:14%;
}
.item-4{
    width:14%;
}
.item-3{
    width:13%;
}


/*弹出框样式*/
.endPop{
    display: none;
    width: 75%;
    min-height: 100px;
    border-radius: 4px;
    top:240px;
    left:14%;
    z-index: 9999;
    padding:30px 16px;
    box-sizing: border-box;
    position: absolute;
    background:#FFFFFF url(https://metadata.zhutech.net/o_1buaqaidlbh01cj08vp1u0i1p15r.png) no-repeat center center;
    background-size: cover;
}
.endPop img{
    width:37.6%;
    display: block;
    margin: 0 auto;
}

.endPop .artxt{
    margin:19px 0 15px;
    text-align: center;
    font-size: 20px;
    color: #F85844;
    letter-spacing: 1px;
}
.endPopTitle{
    font-family: FZZZHONGJW--GB1-0;
    font-size: 18px;
    color: #242830;
    letter-spacing: 2.25px;
    text-align: center;
}
.endPopTitle .border{
    display: inline-block;
    vertical-align: middle;
    width:7%;
    height:1px;

    background: #242830;
}
.endPopTitle .endPopTxt{
    margin:0 3%;
}
.endPop .getCoins{
    width:29.5%;
}
.closeEndPop{
    color: #ff7c1f;
    font-size: 18px;
    font-weight: 600;
    position: absolute;
    top:10px;
    right:20px;
    background: url('https://metadata.zhutech.net/o_1buddfnerc06fc02qp1s7e1ucp2c.png') no-repeat center center;
    background-size: cover;
    display: inline-block;
    width:14px;
    height:14px;
}
#sure{
    background: #FF812D;
    border-radius: 4px;
    width:100%;
    height:34px;
    line-height: 34px;
    padding:0;
    border: none;
    display: block;
    margin:0 auto;
    color: #fff;
    font-size: 16px;
}
#gotoH5{
    background: #FF812D;
    border-radius: 4px;
    width:100%;
    height:34px;
    line-height: 34px;
    padding:0;
    border: none;
    margin:0 auto;
    color: #fff;
    font-size: 16px;
    display: none;
}
.copy{
    font-size: 12px;
    color: #FE7606;
    letter-spacing: 0.86px;
    text-align: center;
    margin:-10px auto 10px;
    display: none;
}
#copy{
    background: #FF812D;
    border-radius: 4px;
    width:100%;
    height:34px;
    line-height: 34px;
    padding:0;
    border: none;
    margin:0 auto;
    color: #fff;
    font-size: 16px;
    display: none;
}
#receptionGet{
    background: #fff;
    border-radius: 4px;
    width:100%;
    height:34px;
    line-height: 34px;
    padding:0;
    border: 1px solid  #FF812D;
    margin:20px auto 0;
    color: #FF812D;
    font-size: 16px;
    display: none;
}
.bg{
    display: none;
}
#canvascode{
    display: none;
    border: 1px solid #F5F5F5;
    border-radius: 4px;
}